.all_frame{
	position: relative;
	display: flex;
	left: 50vh;
	height: 150px;
	width: 125px;
}

.all_btn{
	position: relative;
	display: flex;
	top: 10vw;	
}

#ippo{
	position: relative;
	left: 5vh;
}

#vegeta{
	position: relative;
	left: 15vh;
}

#mom{
	position: relative;
	left: 25vh;
}

#erza{
	position: relative;
	left: 35vh;
}

button{
	display: flex;
	margin: auto;
}

#description{
	text-align: center;
	background-color: orange;
	position: relative;
	top: 5vh;
}